/* Intro */

#profile-img {
    width: 169px;
    border-radius: 90px;
    margin-right: 18px;
}

#intro #profile-img {
    display: none;
}

#intro .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purple-button {
    background: rgb(73, 20, 117)
}

@media screen and (max-width: 1280px) {

    #sidebar #profile-img {
    display: none;
    }

    #intro #profile-img {
        display: block;
    }
    
}

/* About me */

.section-one-title {
    display: flex;
}

.resume-link {
    background: darkred;
    margin-left: 30px;
}

.skills {
    height: 119px;
    margin-bottom: 32px;
    background: rgba(255, 255, 255, 0.05);
    border: solid 1px rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skills-icon {
    width: 4.5em;
    height: 4.5em;
    display: block;
    background: #ffffff;
    border-radius: 100%;
    color: #312450;
    text-align: center;
    line-height: 2.5em;
    margin: 0 0 1.3em 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.skills-icon i {
    font-size: 32px;
}

/* Projects */

.site-link {
    background: darkblue;
}

/* Resume */

#main .major {
    text-align: center;
}

#resume {
    display: flex;
    justify-content: space-around;
}

/* form */

.spam-blocker {
    margin-bottom: 32px;
}

/* Contact Me */

.icons a {
    font-size: 30px;
}